* {
  margin: 0;
  padding: 0;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: inset;
}


body  {
  background-color: rgb(226, 220, 211);
}

img {
  padding-left: 50px;
  width: 8vw;
  height: auto;
}

.conteiner {
  display: flex;

}



nav ul {
  list-style: none;
  /* Quita los puntos de lista */
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  /* Coloca los elementos uno al lado del otro */
  margin-right: 10px;
  /* Espacio entre los elementos */
}

nav.item {
  margin-left: 10px;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

nav ul li:last-child {
  margin-right: 0;
  /* Elimina el margen derecho del último elemento */
}

nav ul li a {
  color: rgb(26, 23, 23);
  font-size: 36px;
  padding-left: 30px;
}

/* Estilos para el contenedor del mapa */
.map-container {
  margin-top: 20px;
  text-align: center;
}

/* Estilos para el título "Nuestra Dirección" */
.map-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

/* Estilos para el iframe del mapa */
.map-container iframe {
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Estilos para los detalles de la dirección */
.map-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-details p {
  font-size: 18px;
  margin: 5px 0;
  color: #555;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  height: 100px;
  margin-top: 0;
}

.redsoc {
  color: white;
  font-size: 1.5vw;
  text-align: center;
}

/* whatsapp */
.whatsapp-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #4cc370;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  box-shadow: 2px 2px 3px #999;
  text-decoration: none;
}

.whatsapp-button:hover {
  background-color: #3d9e5a;
}

#inicio {
  height: 500px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: whitesmoke;
  animation-name: animacion;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}

@keyframes animacion {
  0% {
      background-image: url(./imagenes/Cerro-de-los-Siete-Colores.jpg);
  }

  25% {
      background-image: url(./imagenes/hornocal1jpg.webp);
  }

  50% {
      background-image: url(./imagenes/Cataratas-del-Iguazu.jpg);
  }

  100% {
      background-image: url(./imagenes/cataratas.jpg);
  }

}

.galeria {
  width: 20vw;
  height: auto;
}

.grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
      "titulo titulo 7colores"
      "mision mision 7colores"
      "vision vision 7colores"
      "hornocal valores 7colores";
  gap: 0.5em;
  width: 100%;
  height: 100vh;
}

.item1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  grid-area: titulo;
  background-image: url(./imagenes/Cataratas-del-Iguazú.jpg);
  background-size: cover;
  font-size: 24px;
  text-align: center;
  color: aliceblue;
  width: auto;
  height: 100px;
}

.item2 {
  grid-area: 7colores;
  grid-row: 1 / span 4;
  background-image: url(./imagenes/Cerro-de-los-Siete-Colores.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
}

.item3 {
  padding-left: 30px;
  font-size: 20px;
  grid-area: mision;
  width: 100%;
  height: auto;
}

.item4 {
  padding: 30px;
  font-size: 20px;
  width: 100%;
  height: auto;
  grid-area: vision;
}

.item5 {
  padding-left: 200px;
  font-size: 20px;
  width: 100%;
  height: auto;


}

.item6 {
  background-size: center;
  width: 100%;
  height: auto;
  background-image: url(./imagenes/hornocal1jpg.webp);
  grid-area: hornocal;
}

#carouselExampleIndicators {
  color: whitesmoke;
  display: inline-flex;
  width: 650px;
  height: auto;
}

#carouselExampleIndicators1 {
  color: whitesmoke;
  display: inline-flex;
  width: 650px;
  height: auto;
}

#carouselExampleIndicators2 {
  color: whitesmoke;
  display: inline-flex;
  width: 650px;
  height: auto;
}

#carouselExampleIndicators3 {
  color: whitesmoke;
  display: inline-flex;
  width: 650px;
  height: auto;
}

#carouselExampleIndicators4 {
  color: whitesmoke;
  display: inline-flex;
  width: 650px;
  height: auto;
}

#carouselExampleIndicators5 {
  color: whitesmoke;
  display: inline-flex;
  width: 650px;
  height: auto;
}

#contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
      "formulario mapa";
  gap: 0.5em;
  width: 100%;
  height: 100vh;
}

#contactForm {
  grid-area: formulario;
  text-align: center;
  margin: 20px;
  padding: 20px;
  width: 300px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f3f4f8;
  place-items: center;
}

.map-container {
    grid-area: mapa;
}
