* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-image: url("./imagenes/cataratas.jpg");
    background-size: auto;
    color: white;
    height: 150px;
    margin: 10px;

}


img {
    width: 4vw;
    height: auto;
}

.conteiner {
    display: flex;
    justify-content: flex-end;
}

.nav {

    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 0.5%;
    margin: 20px;


}

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    height: 50px;
    margin-top: 0;
}

.redsoc {
    color: white;
    font-size: 1.5vw;
    text-align: center;
}

#inicio {
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
    animation-name: animacion;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

@keyframes animacion {
    0% {
        background-image: url(./imagenes/Cerro-de-los-Siete-Colores.jpg);
    }

    25% {
        background-image: url(./imagenes/hornocal1jpg.webp);
    }

    50% {
        background-image: url(./imagenes/Cataratas-del-Iguazú.jpg);
    }

    100% {
        background-image: url(./imagenes/cataratas.jpg);
    }

}

.galeria {
    width: 20vw;
    height: auto;
}

.grid-container-galeria {

    grid-template-areas: ;
}


.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5em;
    width: 100%;
    height: 100vh;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(./imagenes/Cataratas-del-Iguazú.jpg);
    background-size: cover;
    font-size: x-large;
    text-align: center;
    color: aliceblue;
    height: 6vw;
    width: 100%;
    height: 20vh;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8;
    background-image: url(./imagenes/Cerro-de-los-Siete-Colores.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}

.item3 {

    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: auto;
}

.item4 {
    width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item5 {
    width: 100%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 3;

}

.item6 {
    width: 100%;
    height: 50vh;
    background-image: url(./imagenes/hornocal1jpg.webp);
    grid-column-start: 1;
    grid-column-end: 2;
}